name: Meteo Daily Workflow

on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  run-meteo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install R packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            httr
            jsonlite
            dplyr
            lubridate
            googledrive

      - name: Run Meteo Script
        run: Rscript meteo_script.R

      - name: Upload CSV files to Google Drive
        env:
          GDRIVE_SERVICE_ACCOUNT_JSON: ${{ secrets.GDRIVE_SERVICE_ACCOUNT_JSON }}
        run: Rscript upload_to_drive2.r
